@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
    font-family: 'Slabo 27px', serif;
    margin: 0px;
    padding: 0px;
}
nav{
    height: 3rem;
    background-color: #14e4e9;
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    
}
ul li{
    list-style: none;
    /* border: 2px solid green; */
    
} 
ul li a{
    /* border: 2px solid green; */
    padding: 2px;
    margin: auto 2rem;
}
  