#Sponsers-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 22rem;
    width: 100%;
    border-bottom: 2px solid red;

}

#Sponsers-body h1{
    text-align: center;
}


#box-body3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid gr/een;
    width: 100%;
    margin: auto;
}



